header{
    display: inline-block;
    border: 2px solid black;  
    border-radius: .5rem;
    margin: 1.5rem;
    padding: 1.5rem;
    
}


img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top:.5rem;
}

.containerPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}   

.titulo{
    font-family: "Platypi", serif;
    font-size: 2rem;
}

.containerInformations{
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.containerInformations p::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .3rem;
}

.job::before{
    background-image: url('../assets/icons/pessoa.svg');
}
.location::before{
    background-image: url(../assets/icons/local.svg);
}
.whatsapp::before{
    background-image: url(../assets/icons/whatsapp.svg);
}
.phone::before{
    background-image: url(../assets/icons/telefone.svg);
}
.email::before{
    background-image: url(../assets/icons/email.svg);
}